<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questions</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- <div id="app1">
        <div id="app2">
            <div id="app3">
                <p> The message is: {{ message }} </p>
            </div>
        </div>
    </div> -->

    <!-- <div
    id="app"
    v-bind:style="[style1, style2]"
    >
        hello world
    </div> -->


    <!-- <div
    id="app"
    v-bind:style="[style1]"
    >
        hello world
    </div> -->


    <!-- PA4 -->

    <!-- 1 -->
    <!-- <div id="app"> {{ message }} </div> -->

    <!-- 2 -->
     <!-- <div id="app" v-html="text">
        <div directive></div>
    </div> -->

    <!-- 3 -->

    <!-- <div id="app">
        <p v-if="dark" v-bind:style="divStyle">{{message}}</p>
        <p v-else>{{message}}</p>
        <button @click="toggleTheme">change theme</button>
    </div> -->

    <!-- 6 -->
    <!-- <div id="app">
        <comp1></comp1>
    </div> -->

    <!-- 7 -->
    <!-- <div id="app">
        <ol>
            <comp v-for="message in messages" :message="message"></comp>
        </ol>
    </div> -->



<script src="app.js"></script>
</body>
</html>